{% comment %} Layout-specific CDN libraries (lazysizes, magnific-popup, clipboard, dayjs). Appends to `urls`. {% endcomment %}
{% if page.layout == 'post' or page.layout == 'page' or page.layout == 'home' %}
{% assign urls = urls | append: ',' | append: site.data.origin[type].lazysizes.js %}
{% unless page.layout == 'home' %}
{% assign urls = urls | append: ',' | append:
site.data.origin[type]['magnific-popup'].js | append: ',' | append:
site.data.origin[type].clipboard.js %}
{% endunless %}
{% endif %}
{% if page.layout == 'home' or page.layout == 'post' or page.layout == 'archives' or page.layout == 'category' or page.layout == 'tag' %}
{% assign locale = site.lang | split: '-' | first %}
{% assign urls = urls | append: ',' | append:
site.data.origin[type].dayjs.js.common | append: ',' | append:
site.data.origin[type].dayjs.js.locale | replace: ':LOCALE', locale | append: ',' | append:
site.data.origin[type].dayjs.js.relativeTime | append: ',' | append:
site.data.origin[type].dayjs.js.localizedFormat %}
{% endif %}
